/*
Version: 1.0.1
Author: Mehedi Hasan
Author URI: http://promehedi.com/
*/
/* ====================================================================
[TABLE OF CONTENTS]
-------------------
01. Global CSS
02. 
*/
/**
* ===================================
* = 01. Global CSS
* ===================================
*/
::selection {
  background: #f7f7f7;
  color: #00b22d;
  text-shadow: none;
}

::-moz-selection {
  background: #f7f7f7;
  /* Firefox */
  color: #00b22d;
  text-shadow: none;
}

::-webkit-selection {
  background: #f7f7f7;
  /* Safari */
  color: #00b22d;
  text-shadow: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
}

a:hover, a:focus {
    text-decoration: none;
}

input:focus, textarea:focus, button:focus, a:focus {
    outline: none;
}

button[type=submit], input[type=submit] {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0 0 10px;
    line-height: 1.9;
}

img {
    max-width: 100%;
}

input, textarea {
    padding: 10px 15px;
    margin-bottom: 1em;
}

.bg {
    background-color: #ddd;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
}

.section-padding {
    padding: 80px 0;
}

.button {
    display: inline-block;
    color: #fff;
    background-color: #00529b;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 10px 30px;
    border: 2px solid #00529b;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.button[href]:hover {
    background-color: red;
    border-color: red;
}

.button.btn-outline {
    background-color: transparent;
}

.section-title {
    text-align: center;
    position: relative;
    font-size: 34px;
    font-weight: 600;
    color: #004b8e;
    margin-bottom: 50px;
}

.section-title:before, .section-title:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 150px;
    height: 4px;
    background: #004b8e;
    content: '';
    margin-left: -75px;
}

.section-title:after {
    width: 75px;
    bottom: -5px;
    height: 2px;
}


/**
* ===================================
* = 02. Header CSS
* ===================================
*/
.header-wrap {
    padding: 30px 0;
    box-shadow: 0px 3px 5px rgba(0,0, 0, 0.1);
}

.logo img {
    max-height: 100px;
}

.header-text li {
    display: inline-block;
    position: relative;
    padding: 3px 6px;
    background: rgba(3, 78, 145, 1);
    margin: 2px 0;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    font-size: 15px;
}

.header-text li:before {
    content: "\f0c1";
    padding-right: 5px;
    color: #fff;
    font-family: 'FontAwesome'
}



/**
* ===================================
* = 02. Banner CSS
* ===================================
*/
.banner-wrap .container > img {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% + 85px);
    width: auto;
    z-index: 0;
}

.banner-wrap .container {
    position: relative;
}

.banner-bottom {
    text-align: center;
    background: rgba(0, 73, 141, 0.7);
    color: #fff;
    padding: 20px 0;
    z-index: 3;
    position: relative;
}

.banner-bottom h3 {
    margin: 0;
    color: inherit;
    font-weight: 600;
    font-size: 24px;
}

.banner-info {
    padding: 50px 25px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin: 50px 0;
}

.banner-info h1, .banner-info h2, .banner-info h3, .banner-info h4, .banner-info a {
    color: #fff;
}

.banner-info h3 {
    position: relative;
    padding-bottom: 10px;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

.banner-info h3:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #fff;
    content: '';
    margin-left: -25px;
}

.banner-info h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.banner-info h1 span {
    font-weight: 600;
}

.banner-info h4 {
    font-size: 22px;
    margin-bottom: 0;
}

.banner-info h5 {
    margin: 30px 0;
    font-size: 20px;
}

.banner-info .button {
    border: 2px solid #00529b;
}

.banner-info .button.btn-outline {
    border: 2px solid;
}

.banner-info .button+.button {
    margin-left: 10px;
}





/**
* ===================================
* = 04. USA-Clients CSS
* ===================================
*/
.usa-clients-wrap .block1 {
    margin-bottom: 50px;
}

.usa-clients-wrap .block1 h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.usa-clients-wrap .col-lg-7 > h4 {
    font-weight: 600;
    color: #004b8e;
    font-size: 20px;
}

.checkmark {
    margin-bottom: 50px;
}

.checkmark li {
    display: block;
    position: relative;
    padding-left: 30px;
    line-height: 2.2;
    font-size: 18px;
}

.checkmark li:before {
    content: "\f00c";
    color: #004b8e;
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
}

.usa-clients-form label {
    font-size: 13px;
    opacity: 0.7;
}

.usa-clients-form {
    font-size: 15px;
    line-height: 1.1;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.usa-clients-form .button {
    position: absolute;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    transform: translate(0, 50%);
    bottom: 0;
    z-index: 3;
}